<h3>Task Form</h3>

<form (ngSubmit)="onSubmit()">

  <label>Assigned To</label><br>
  <input type="text" [(ngModel)]="task.assignedTo" name="assignedTo" required><br><br>

  <label>Status</label><br>
  <select [(ngModel)]="task.status" name="status">

    <option>Not Started</option>
    <option>In Progress</option>
    <option>Completed</option>

  </select><br><br>

  <label>Due Date</label><br>
  <input type="date" [(ngModel)]="task.dueDate" name="dueDate"><br><br>

  <label>Priority</label><br>
  <select [(ngModel)]="task.priority" name="priority">

    <option>Low</option>
    <option>Normal</option>
    <option>High</option>

  </select><br><br>

  <label>Description</label><br>
  <textarea [(ngModel)]="task.description" name="description"></textarea><br><br>

  <button type="submit">Save</button>

</form>