/* Form Container */
form {
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin-top: 15px;
  margin: 20px auto;
}

/* Heading */
h3 {
  margin-bottom: 15px;
  color: #1976d2;
}

/* Labels */
label {
  font-weight: bold;
}

/* Inputs */
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Focus effect */
input:focus,
select:focus,
textarea:focus {
  border-color: #1976d2;
  outline: none;
}

/* Save button */
button[type="submit"] {
  background-color: #1976d2;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #125aa0;
}